$white: #ffffff;
$black: #000000;
$light-green: rgba(204, 255, 0, 1);
$border-white: #e5e7eb;
$gold: #f2c94c;
$blue: rgba(96, 165, 250, 1);
$light-black: #131313;
$gray: #aeaeae;
$dark-gray: #4a4a4a;
$light-background: #161616;